# ------------------------------------------------------------------------------
# IGNORE ALL:
# ------------------------------------------------------------------------------
*

# ------------------------------------------------------------------------------
# EXCEPT THE FOLLOWING:
# ------------------------------------------------------------------------------

# DIRECTORIES

# FILES
!package.json
